<header>
  
  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="icon-home"></i> Home</a></li>
        <li><a href="/speakers"><i class="icon-user"></i>About her</a></li>
      </ul><!-- nav -->
    </section><!-- layout -->
  </div><!-- navigation -->
</header>