<article class="nextmeeting">
  <h1>THE DEVELOPER Corner</h1>
  <p><img src="<%= appdata.meeting.where.img %>" alt="Meeting Location"><h2>Hey, just a beginner and loyal servant.</br>Hope this time to like it</h2></p>
</article>