<article id="whoarewe">
  <h1>Who are we?</h1>
    <ul style="list-style-type:disc;">
    	<li>Somehow,we will find it.The balance between whom we wish to be and whom we need to be.But for now,we simply have to be satisfied with whom we are.</li>
    	<li>we all want to be seen not for the choices we made ten years ago,but for who we are today.</li>
    	<li>Before we can have more, we must learn gratitude for what we are.</li>
    	<li>we cannot always control Nature or situations,but we can always control how we perceive,and react to,any given situation.</li>
    	<li>Living life without forgiveness is not living;it's suffering.</li>
    	<li>Responsibility:the ability to consciously respond to situations and dilemmas.</li>
    	<li>Materialism promises immortatility through the amassment and control of power and placement in history books.</li>
    	<li>True Love is not a feeling;it can only be understood.</li>
    </ul>
</article><!-- article -->