<article id="whoshouldcome">
  <h1>Who should be With Akshita?</h1>
  <ul>
    <li>Anybody interested in art and the creative mind</li>
    <li>Painters,sculptors,photographers and good person</li>
    <li>Those interested in having a nice company and a mindful person to talk can turn to akshita but remember you must be good first.....</li>
  </ul>
</article><!-- article -->